* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

/** NAVBAR **/

nav {
  position: sticky;
  justify-content: center;
  margin: 10px 10px 10px auto;
  width: 1280px;
  top: 0;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background: #ccc;
  padding: 0 75px;
  text-transform: uppercase;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  list-style: none;
  li {
    min-width: 150px;
  }
  a {
    height: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 1rem;
  }
}

li:hover {
    background: #A90331;
    transition: 0.3s ease-in-out;
}

ul a:hover {
  color: white;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.banner-container {
  position: relative;
}

.banner {
  width: 1280px;
  border-radius: 10px;
}

.title {
  position: absolute;
  left: 39%;
  top: 45%;
  text-align: center;
  vertical-align: middle;
  line-height: 250%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background: beige;
  opacity: 0.75;
  text-align: center;
  border-radius: 10px;
  width: 300px;
  height: 80px;
}

/** CONTENT **/

main {
  position: relative;
  width: 1280px;
  background: lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: justify;
  p {
    font-size: 20px;
    margin: 20px 30px;
  }
}

/* .subtitle-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
} */

h2 {
  color: white;
  background: #a90331;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 200%;
  font-style: italic;
  height: 50px;
  border-radius: 10px;
}

.blason {
  display: flex;
  justify-content: center;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  ul {
    display: block;
    text-align: center;
    li:hover {
        background: none;
    }
    a {
        color: #A90331;
        font-size: 20px;
    }
    a:hover {
        color: black;
        background: none;
    }
  }
}

.wiki {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}
